@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Klee+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overlock+SC&display=swap');
    body {
        font-family: 'Overlock SC', 'Merriweather', 'Nunito Sans', 'Inter', sans-serif;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url("./assets/fondo.png");
        background-repeat: repeat;
        background-size: 120px 120px;
        position: relative;
        color: #000000;
        text-shadow:
            0 0 5px rgb(255, 255, 0),
            0 0 10px rgb(255, 157, 0),
            0 0 20px rgb(255, 0, 0),
    }

    h1,
    #seleccionar-personaje,
    #seleccionar-ataque,
    #mensajes,
    #reiniciar {
        background-color: rgba(73, 45, 2, 0.887); /* Blanco semitransparente */
        padding: 20px;
        width: 70%;
        height: 80%;
        border-radius: 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
        margin: 20px auto;
        color: rgb(255, 224, 144);
    }

    #seleccionar-personaje,
    #seleccionar-ataque,
    #mensajes,
    #reiniciar {
        font-size: 26px;
    }

    h1{
        font-size: 50px;
    }

    span{
        text-shadow: rgb(0, 0, 0) 0 5px;
    }

    #seleccionar-personaje {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .contenedor-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personajes-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .personaje {
        text-align: center;
    }

    .personaje img {
        width: 160px;
        height: auto;
        border-radius: 20px;
    }

    .boton-container {
        margin-top: 20px;
    }

    button {
        background-color: #cc8118; /* Color de fondo del bot칩n */
        color: rgb(103, 74, 48); /* Color del texto del bot칩n */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        font-size: 18px; /* Tama침o de fuente del bot칩n */
        font-weight: bolder;
    }

    #mensajes {
    width: 70%;
    height: auto;
    max-height: none;
    overflow: visible;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    }

    .icon {
        margin-right: 10px;
        filter: drop-shadow(2px 2px 5px rgba(255, 255, 250, 2));
        background-color: rgba(53, 47, 1, 0.169);
        border-radius: 10px; /* Bordes redondeados */
        padding: 5px; /* Espaciado interno */
    }
